# ----------------------------------
# ENVIRONMENT AND SECRETS
# ----------------------------------
.env
.env.local
.env.production
.env.development

# ----------------------------------
# VIRTUAL ENVIRONMENTS
# ----------------------------------
.venv/
venv/
env/

# ----------------------------------
# PYTHON CACHES
# ----------------------------------
__pycache__/
*.py[cod]
*.pyo

# ----------------------------------
# TESTING & CACHING
# ----------------------------------
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ----------------------------------
# IDEs & OS FILES
# ----------------------------------
.idea/
.vscode/
.DS_Store

# ----------------------------------
# LOGS & DATABASES
# ----------------------------------
*.log
*.sqlite3

# ----------------------------------
# ALEMBIC (Client will setup from scratch via README)
# ----------------------------------
alembic/
alembic.ini
